@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*:before,
*:after {
  box-sizing: inherit;
}

*:focus {
  @apply outline-none ring-2 ring-pink-500 ring-opacity-50;
}
:root {
  --height-input: 48px;
  --pad-input: 16px;
  --bg-input: #fff;
  --bg-input-hover: #f3f3f3;
  --color-input: #222;
  --border-input: #e9e9e9;
  --bg-checkbox: #d3d3d3;
  --bg-checkbox-true: #222;
}
html {
  height: 100%;
  box-sizing: border-box;
  touch-action: manipulation;
  font-feature-settings: 'case' 1, 'rlig' 1, 'calt' 0;
}

html,
body {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Helvetica Neue',
    'Helvetica', sans-serif;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  @apply text-white bg-zinc-800 antialiased;
}

body {
  position: relative;
  min-height: 100%;
  margin: 0;
}

a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.height-screen-helper {
  height: calc(100vh - 80px);
}



.error #canvas-target {
  position: relative;
  margin: 0px auto 50px auto !important;
  width: 80%;
  text-align: center;
  background: blue !important;
  min-height: 300px;
}

.error #error-canvas {
  position: absolute;
  z-index: 10000;
  margin: 20px auto;
  min-height: 300px;
}

.error h2,
.error h3 {
  text-align: center;
}

.error h3:last-child {
  font-weight: bold;
}

.error #canvas-target canvas {
  width: 100%;
}

.error .error-page #smooth-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  position: relative;
  z-index: 1;
  text-align: center;
}

.error section {
  min-height: 100vh;
  width: 100vw;
  padding: var(--padding-inner);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #111111;
  color: #EEEEEE;
}

.error p {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  text-align: center;
  color: #EEEEEE;
}

.error .error-title h3 {
  font-family: Montserrat-Black;
}

.error h3 {
  opacity: 1;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-weight: 400;
  font-size: 20px;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  line-height: 1;
  color: #EEEEEE;
  letter-spacing: 20px;
}

.btn {
  --font-1: apercu, sans-serif;
  --color-primary: #222;
  --color-primary-rgb: 34, 34, 34;
  --color-link: #222;
  --color-white: #fff;
  --color-white-rgb: 255, 255, 255;
  --color-orange: #FA5D29;
  --color-errors: #FA5D29;
  --color-featured: #f8f0ee;
  --color-underlined: var(--color-primary-rgb);
  --color-connect: #FF602C;
  --color-connect-2: #FFAE94;
  --color-connect-3: #FFC5B1;
  --color-inspire: #AAEEC4;
  --color-inspire-2: #C8E4D3;
  --color-inspire-3: #E2F4E9;
  --color-awards: #502bd8;
  --color-awards-2: #6749d1;
  --color-awards-3: #917eda;
  --color-read: #c0ab3c;
  --color-read-2: #CDC38B;
  --color-read-3: #DBD6C0;
  --color-learn: #FFF083;
  --color-learn-2: #FFF9D0;
  --color-learn-3: #fffbe2;
  --color-jobs: #74bcff;
  --color-jobs-2: #99ccfc;
  --color-jobs-3: #b4d7f8;
  --text-size-small: 12px;
  --text-size-primary: 16px;
  --text-size-medium: 18px;
  --text-size-large: 24px;
  --border-gray: #e9e9e9;
  --color-dotteds-rgb: 34, 34, 34;
  --bg-primary: #F8F8F8;
  --bg-primary-rgb: 248, 248, 248;
  --bg-secondary: #222;
  --bg-3rd: #e9e9e9;
  --bg-4rd: #f3f3f3;
  --bg-white: white;
  --header-height: 71px;
  --gutter: 20px;
  --pad-inner: 52px;
  --color-odd-rows: #f3f3f3;
  --avatar-bg: #F8F8F8;
  --border-table: #222;
  --alert-green: #e0f4d9;
  --alert-green-rgb: 224, 244, 217;
  --alert-yellow: #FFF083;
  --alert-yellow-rgb: 255, 240, 131;
  --rounded-small: 4px;
  --rounded-normal: 8px;
  --rounded-large: 1rem;
  --img-resizing-site: 16 / 12;
  --img-resizing-paronamic: 2 / 1;
  --img-resizing-desktop: 19 / 10;
  --sf-height: 48px;
  --sf-bg: var(--bg-3rd);
  --hf-bg: var(--bg-primary);
  --height-input: 48px;
  --pad-input: 16px;
  --bg-input: #fff;
  --bg-input-hover: #f3f3f3;
  --color-input: #222;
  --border-input: #e9e9e9;
  --bg-checkbox: #d3d3d3;
  --bg-checkbox-true: #222;
  --button-rounded: 8px;
  --button-rounded-full: 72px;
  --button-height: 48px;
  --button-pad: 24px;
  --button-bg: var(--color-primary);
  --button-color: var(--color-white);
  --button-color-border: var(--bg-primary);
  --width_img_nominee: 900px;
  --mft-height: 298px;
  font-family: var(--font-1);
  line-height: 200%;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  --innerWidth: 1920px;
  --text-header: 14px;
  margin: 0;
  box-sizing: inherit;
  text-decoration: none;
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: var(--button-height);
  padding: 0 var(--button-pad);
  background-color: var(--button-bg);
  font-size: var(--text-size-primary);
  color: var(--button-color);
  text-align: center;
  cursor: pointer;
  border: none;
  white-space: nowrap;
  transition: color .3s,background .3s,border .3s;
  font-weight: normal;
  border-radius: var(--button-rounded);
}